<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ $title := "" }}
{{ if .Params.meta_title }}
  {{ $title = .Params.meta_title }}
{{ else if .IsHome }}
  {{ $title = .Site.Title }}
{{ else }}
  {{ $title = printf "%s | %s" .Title .Site.Title }}
{{ end }}
<title>{{ $title }}</title>
{{ with .Params.meta_description }}<meta name="description" content="{{ . }}">{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="/css/style.css">
